.row.row2 {
  padding: 30px;

}


.card-title{
background-color: indigo;
position: absolute;
z-index: 999;
margin: 0 auto;
left: 0;
right: 0;
top: 50%;

}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(52, 58, 64);
    color:#fff;
  }